/*!
 * Start Bootstrap - Small Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.texto{
    text-align: justify;
}

.navbar-inverse{
    background-color: #800a1b;
    border-color: #800a1b;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.etiqueta-sala {
    font-size: 16px;
}

.btn-reservar{
    float: right;
}

#bl-informativo{
    display: none;
}

.bl-busqueda{
    padding-bottom: 20px;
}

.bl-busqueda-interna{
    background-color:#f9e0bc;
    padding:20px;
}

.bl-descripcion {
    padding-top: 10px;
}

footer {
    padding: 20px 0;
    text-align: center;
  /*  position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-x: hidden;*/
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;


    }
}


