<form action="{{submit.url}}" method="POST">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>{{nombre}}</strong></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <img src="{{foto-url}}" class="img img-responsive">
        <hr>
        <p>
          {{descripcion}}
        </p>
      </div>
      <div class="col-md-6">
        <h5>Caracteristicas</h5>
      <!-- List group -->
      <ul class="list-group">
          <li class="list-group-item">Capacidad : {{capacidad}}</li>
        {{#each caracteristicas}}
          <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
      <hr>
        <div class="col-md-12">
          <form action="" method="POST">
            <input type="text" hidden value="{{codigo}}"/> 
           
           <label>¿Desea incluir el servicio Coffee Break?</label>
           <div class="checkbox">
            <label>
              <input type="checkbox"> Coffee Break
            </label>

            </div>
        <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
          <div class="form-group">
              <label for="cantidad">Cantidad de personas</label>
              <select class="form-control" name="cantidad" id="cantidad">
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
              <option>32</option>
              <option>33</option>
              <option>34</option>
              <option>35</option>
              <option>36</option>
              <option>37</option>
              <option>38</option>
              <option>39</option>
              <option>40</option>
            </select>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary btn-lg pull-right" type="submit"> Reservar  </button>
      </div>
    </div>
  </div>
</div>
</form>