<h2>MIS RESERVAS</h2>

<table class="table table-hovered table-responsive table-bordered">
	<header>
		<tr>
			<th>N°</th>
			<th>SALA</th>
			<th>CAPACIDAD</th>
			<th>FECHA</th>
			<th>HORA INICIO</th>
			<th>HORA FIN</th>
			<th>COFFEE BREAK</th>
		</tr>
	</header>
	<body>
		{{#each reservas}}
		<tr>
			<td>{{codigo}}</td>
			<td>{{nombre}}</td>
			<td>{{capacidad}}</td>
			<td>{{fecha}}</td>
			<td>{{hora_inicio}}</td>
			<td>{{hora_fin}}</td>
			<td>
				{{#if coffee_break}} 
				<span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> 
				{{else}} 
				<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>	
				{{/if}}</td>
		</tr>
        {{/each}}
	</body>

</table>