        <section>
            <form action="/salas/listar" method="POST"> 
                <input type="hidden" value="{{zona}}" name="zona"/>
            <div class="bl-busqueda col-md-12">
                <div class="bl-busqueda-interna col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha inicio: </label>
                            <div class='input-group date' id='fechainicio'>
                                <input type='text' name="fecha_inicio" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha fin: </label>
                            <div class='input-group date' id='fechafin'>
                                <input type='text' name="fecha_fin" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Hora inicio: </label>
                            <div class='input-group date' id='horainicio'>
                                <input type='text' name="hora_inicio" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Hora Fin: </label>
                            <div class='input-group date' id='horafin'>
                                <input type='text' name="hora_fin" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div style="" class="row">
                         <div class="col-md-3" style="float:right;">
                            <div style="margin-top:15px;">
                                <!-- Button trigger modal -->
                                <button type="submit" style="background-color:#800a1b;border-color:#800a1b;"  
                                class="btn btn-primary btn-lg btn-block" data-loading-text="Cargando ..." autocomplete="off" data-toggle="modal" id="myModal">
                                  Buscar
                                </button>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            </form>
        </section>