            <div class="bl-busqueda col-md-12">
                <!-- Heading Row -->
                {% if salas %}
                {% for salon in salas %}
                <div class="row">
                    <div class="col-md-7">
                        <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/sala01.jpg') }}" alt="">
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="bl-descripcion col-md-5">
                        <span class="etiqueta-sala label label-info">Disponible</span>
                        <h1>{{salon.Nombre}}</h1>
                        <p class="texto">
                        <br/>
                        <label>Capacidad:</label> {{salon.Capacidad}} 
                        <br/>
                        <label>Dirección:</label>
                        {{salon.Direccion}},{{salon.Distrito}}
                    </p>
                        <a class="btn-reservar btn btn-primary btn-lg" href="/salas/{{salon.Id}}">Reservar</a>

                    </div>
                    <!-- /.col-md-4 -->
                </div>
                {% endfor %}
                {% else %}
                <div class="row"> 
                    No se encontraron salas disponibles 
                </div>
                {% endif %}
            </div>