{% extends "layout/default.html" %}

{% block body %}

<form action="" method="POST">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>{{sala.nombre}}</strong></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/sala01.jpg') }}" class="img img-responsive">
        <hr>
        <p>
          {{sala.descripcion}}
        </p>
      </div>
      <div class="col-md-6">
        <h5>Caracteristicas</h5>
      <!-- List group -->
      <ul class="list-group">
          <li class="list-group-item">Capacidad : {{sala.capacidad}}</li>
        {% for c in sala.caracteristicas %}
          <li class="list-group-item">{{c}}</li>
        {% endfor %}
      </ul>
      <hr>
        <div class="col-md-12">
          <form action="" method="POST">
            <input type="text" hidden value="{{sala.codigo}}"/> 
           
           <label>¿Desea incluir el servicio Coffee Break?</label>
           <div class="checkbox">
            <label>
              <input type="checkbox"> Coffee Break
            </label>

            </div>
        <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
          <div class="form-group">
              <label for="cantidad">Cantidad de personas</label>
              <select class="form-control" name="cantidad" id="cantidad">
                {% for x in cantidad_personas %}
              <option>{{x}}</option>
                {% endfor %}
            </select>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary btn-lg pull-right" type="submit"> Reservar  </button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}